.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
  cursor: pointer;
}

.logo img {
  width: 100px;
  height: auto;
}
